<div class="login-wrapper">
    <div class="title-left">
      <h1>Servicio de Agendamiento</h1>
    </div>
    
    <div class="login-card">
      <h2>Iniciar Sesión</h2>
      <p>Por favor, ingrese sus datos para acceder a su cuenta</p>
      
      <form (submit)="redirectToTurnos()">
        <div class="input-group">
          <input type="text" placeholder="Ingrese su Email o Teléfono" required>
        </div>
  
        <div class="input-group">
          <input type="password" placeholder="Contraseña" required>
        </div>
        
        <a href="#" class="trouble-link">¿Tiene problemas para iniciar sesión?</a>
  
        <button type="submit" class="btn-signin">Iniciar Sesión</button>
  
        <p>O inicie sesión con</p>
        <div class="social-buttons">
          <button class="btn-google">Google</button>
          <button class="btn-apple">Apple ID</button>
          <button class="btn-facebook">Facebook</button>
        </div>
  
        <p>¿No tiene una cuenta? <a href="#">Solicítela ahora</a></p>
      </form>
    </div>
  </div>
  